body {
    background-color: aliceblue;
    
}

button {
    background-color: #5465BD;
    color: white;
    display: block;
    margin: 2rem;
    border-radius: 5%;
    border: none;
    height: 2rem;
    width: 5rem;
}

button:hover {
    cursor: pointer;
    background-color: blue;

}

.logo-in-admin {
    width: 8rem;
    margin: 0.5rem;
}

.firebase-auth-container {
    margin-top: 5rem;
}

.auth-title {
    margin: 2rem;
    font-size: 3rem;
}


.btn-to-login {
    margin: 1rem;
}

.validate-btn {
    text-align: center;
    margin: 2rem auto;
}

.validate-btn:hover {
    background-color: blue;
}

.input-result {
    height: 2rem;
    margin: 1rem 1rem;
    padding: 0.5rem;
    transition: width 6s ease-in-out;
    border: 0.1px solid black;
    border-radius: 2%;
}

.input-result:focus {
    width: 50%;
}


#groups,
#questions {
    width: 10rem;
    padding: 10px;
    background: #edf2ff;
    border: none;
    margin: 1rem;
}

.underlined {
    border-bottom: solid;
    margin: 4rem;
}

.form-submit {
    margin: 2rem auto;
}


.label-for-answers {
    text-decoration: underline dotted;
    margin: 0.5em;
}

.input-result-points {
    width: 2em;
}