button {
    background-color: #5465BD;
    color: white;
    display: block;
    margin: 2.5rem;
    border-radius: 5%;
    border: none;
    height: 1.7rem;  
}

button:hover {
    cursor: pointer;
}

.firebase-auth-container {
    margin-top: 10rem;
}

.auth-title {
    margin: 4rem;
    font-size: 4rem;
    text-decoration: dotted;
}

.validate-btn {
    text-align: center;
    margin: 3rem auto;
}

.input-result {
    width: 50rem;
    height: 2rem;
}

#groups,
#questions {
    width: 10rem;
    padding: 10px; 
    background:#edf2ff; 
    border:none;
}

/* #questions {
    width: 8rem;
} */