body {
    background-color: aliceblue;
}

button {
    background-color: #046497;
    color: white;
    font-weight: 700;
    display: block;
    margin: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #68c2a0;
}

.logo-in-admin {
    width: 8rem;
    margin: 0.5rem;
}

.firebase-auth-container {
    margin-top: 5rem;
}

.auth-title {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
}

label {
    font-weight: 700;
}

.select-option{
    border-radius: 0.5rem;
}

.btn-to-login {
    margin: 1rem;
}

.input-result {
    min-width: 37.5rem;
    max-width: 50%;
}

.input-result-answer {
    min-width: 25rem;
    max-width: 50%;
}

.input-result-points {
    width: 4rem;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

input {
    text-align: right;
    height: 2rem;
    margin: 1rem 1rem;
    padding: 0.5rem;
    transition: all 6s ease-in-out;
    border: 0.1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
}

#groups,
#questions {
    width: 10rem;
    padding: 10px;
    background: #edf2ff;
    border: none;
    margin: 1rem;
}

.select-question {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.select{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-submit {
    margin: 2rem auto;
}

.form-data {
    text-align: center;
}

.label-for-answers {
    /* text-decoration: underline dotted; */
    margin: 0.5em;
}

.input-result-points {
    width: 2em;
}