.div-result {
  direction: rtl;
}

.div-result-in {
  position: relative;
  margin-top: 104px;
}

.div-result-in-in {
  font-weight: 600;
  text-align: center;
}

.span-result {
  position: relative;
  margin-right: 8.64%;
  font-size: 20px;
  float: right;
}

.span-num {
  font-size: 50px;
  font-weight: bold;
}

.div-rec {
  width: 81.77%;
  min-height: 52px;
  font-size: 20px;
  margin: auto;
}

.div-rec span {
  line-height: 26px;
}

.button-back {
  position: absolute;
  background-color: #eff9f3;
  height: 50px;
  width: 50px;
  border: transparent;
  border-radius: 100%;
  bottom: 54px;
  right: 8.64%;
}

.arrow {
  color: #206695;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 32px;
}

.button-forward {
  position: absolute;
  background-color: #eff9f3;
  height: 50px;
  width: 50px;
  border: transparent;
  border-radius: 100%;
  bottom: 54px;
  left: 8.64%;
}

.button-end {
  position: absolute;
  background-color: #eff9f3;
  border: transparent;
  border-radius: 100%;
  bottom: 54px;
  left: 8.64%;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  width: 101px;
  height: 50px;
  border-radius: 25px;
  font-weight: 49pt;
  font-size: 20pt;
}
