.showing_section_survey {
    width: 100%;
    height: 380px;
    background-color: white;
}
.time-line {
width: 50%;
margin-bottom: 16px;
direction: rtl;
margin-left: auto;
margin-right: auto;
position: relative;
}

.time-line-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top:-12px;
color:#206695;
weight:298pt;
width: 199pt;

  
}
.time-line-circle {

    border-radius: 50%;
    width: 9pt;
    background-color: #FFFFFF;
    height: 9pt;
    border-color: #206695;
    border-width: 0.2PX;
    border-style:solid;
  align-items: center;

}
.time-line-circle img {

    border-radius: 50%;
 max-width: 25px;
 max-height: 25px;
background-color: #EFF9F3;
  align-items: center;
   border-color: #206695;
    border-width: 0.2PX;
    border-style:solid;


}



.iconFirstPage{
        height: 80%;
      width: 80%;
margin-left: auto;
margin-right: auto;
    margin-top: 20%;
    margin-bottom: 50%;

}




.question_container {
direction: rtl;
padding: 4px;
}

.question_header {
font-size: 16px;
}
.question_page {
    padding: 4px;
}

.answer_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
}
.answer_item {
    font-size: 14px;
    display: flex;
    align-items: center;
}
.answer_item input {
    width: 20px;
    height:20px;
}


.textInto{

font-family: 'Assistant', sans-serif;
font-size: 20;
}


.line{

color:#206695;
weight:298pt;
width: 199pt;
 

}
